<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SourcePath" value="Assets" />
		<add key="CsvFileName" value="Customers.csv" />
	</appSettings>
	<connectionStrings>
		<add name="AppConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=test;Integrated Security=True" />
	</connectionStrings>
</configuration>